@model IEnumerable<BLMS.Models.License.LicenseSite>

@{
    ViewData["Title"] = "License Site";
}

<section class="section align-baseline" style="font-size: 12px;">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
            <div class="card card-cascade cascading-admin-card user-card">
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                    <i class="fas fa fa-industry info-color py-4 mr-3 z-depth-2"></i>
                    <div class="data">
                        <h5 class="font-weight-bold dark-grey-text">
                            License Site
                        </h5>
                    </div>
                </div>
                <!-- Card Data -->
                <!-- Card content -->
                <div class="card-body card-body-cascade">
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="alert" class="form-group">
                                @Html.Raw(@ViewBag.Alert)
                            </div>

                            <div class="table table-wrapper table-striped table-responsive" style="width:100%">
                                <!--Table-->
                                <table id="LicenseSite" class="table table-hover mb-0">
                                    <!-- Table head -->
                                    <thead>
                                        <tr>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">
                                                @Html.DisplayNameFor(model => model.IndexNo)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">
                                                @Html.DisplayNameFor(model => model.UnitName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">
                                                @Html.DisplayNameFor(model => model.LicenseName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">
                                                @Html.DisplayNameFor(model => model.CategoryName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">Person in Charge</th>
                                            <th class="text-sm font-weight-bold align-text-top" style="font-size: 12px;">Issued & Expired Date</th>
                                            <th class="text-sm font-weight-bold align-text-top text-center" style="font-size: 12px;">File</th>
                                            <th class="text-sm font-weight-bold align-text-top text-center" style="font-size: 12px;">Action</th>
                                        </tr>
                                    </thead>
                                    <!-- Table head -->
                                    <!-- Table body -->
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*Index No*@
                                                <td class="text-sm text-center" style="font-size: 12px;">
                                                    @Html.DisplayFor(modelItem => item.IndexNo)
                                                </td>
                                                @*Unit Name*@
                                                <td class="text-sm col-2" style="font-size: 12px;">
                                                    @Html.DisplayFor(modelItem => item.UnitName)
                                                </td>
                                                @*License Name*@
                                                <td class="text-sm col-3" style="font-size: 12px;">
                                                    @*details for register license*@
                                                    @if (item.isRegistered == true)
                                                    {
                                                        <a href="@Url.Action("DetailRegister", "LicenseSite", new {id=item.LicenseID})" class="font-weight-bold">
                                                            @Html.DisplayFor(modelItem => item.LicenseName)

                                                            <br />

                                                            <span class="badge bg-success text-sm">Registered</span>
                                                        </a>
                                                    }
                                                    @*details for renewal license*@
                                                    else if (item.isRenewed == true)
                                                    {
                                                        <a href="@Url.Action("DetailRenewal", "LicenseSite", new {id=item.LicenseID})" class="font-weight-bold">
                                                            @Html.DisplayFor(modelItem => item.LicenseName)

                                                            <span class="badge bg-secondary text-sm">Renewed</span>
                                                        </a>
                                                    }

                                                    @*expired badge*@
                                                    @if ((item.RenewReminderDT.Date - DateTime.Now.Date).Days > 0 | item.RenewReminderDT.ToString() == "9999-12-31 00:00:00.000")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-danger text-sm">Expired</span>
                                                    }
                                                </td>
                                                @*License Type*@
                                                <td class="text-sm" style="font-size: 12px;">
                                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                                </td>
                                                @*Person In Charge*@
                                                <td class="text-sm col-3" style="font-size: 12px;">
                                                    @if (string.IsNullOrEmpty(item.PIC1Name))
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <label class="font-weight-bold">PIC 1:</label>
                                                        <br />
                                                        @Html.DisplayFor(modelItem => item.PIC1Name)
                                                        <br /><br />
                                                    }

                                                    @if (string.IsNullOrEmpty(item.PIC2Name))
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <label class="font-weight-bold">PIC 2:</label>
                                                        <br />
                                                        @Html.DisplayFor(modelItem => item.PIC2Name)
                                                        <br /><br />
                                                    }

                                                    @if (string.IsNullOrEmpty(item.PIC3Name))
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <label class="font-weight-bold">PIC 3:</label>
                                                        <br />
                                                        @Html.DisplayFor(modelItem => item.PIC3Name)
                                                    }
                                                </td>
                                                @*IssuedDT & ExpiredDT*@
                                                <td class="text-sm col-1" style="font-size: 12px;">
                                                    @if (string.IsNullOrEmpty(item.IssuedDT))
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <label class="font-weight-bold">Issued Date:</label>
                                                        @Html.DisplayFor(modelItem => item.IssuedDT)
                                                        <br /><br />
                                                    }

                                                    @if (string.IsNullOrEmpty(item.ExpiredDT))
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <label class="font-weight-bold">Expired Date:</label>
                                                        @Html.DisplayFor(modelItem => item.ExpiredDT)
                                                    }
                                                </td>
                                                @*Download File*@
                                                <td class="text-center col-1" style="font-size: 12px;">
                                                    @if (item.hasFile == true)
                                                    {
                                                        <a class="btn btn-outline-primary btn-rounded btn-sm px-2" title="Download License File" href="@Url.Action("DownloadLicenseFile", "LicenseSite", new {id=item.LicenseID})">
                                                            <i class="fas fa-download mt-0"></i>
                                                        </a>
                                                    }
                                                </td>
                                                @*Action*@
                                                <td class="text-center col-1" style="font-size: 12px;">
                                                    @*Edit license*@
                                                    @if ((item.isRegistered == true || item.isRenewed == true) && (item.RenewReminderDT.Date - DateTime.Now.Date).Days > 0 | item.RenewReminderDT.ToString() == "9999-12-31 00:00:00.000")
                                                    {
                                                        <a class="btn btn-outline-purple btn-rounded btn-sm px-2" title="Edit License" href="@Url.Action("EditRegister", "LicenseSite", new {id=item.LicenseID})">
                                                            <i class="fas fa-pen-alt mt-0"></i>
                                                        </a>
                                                    }

                                                    @*renew license*@
                                                    @if ((item.RenewReminderDT.Date - DateTime.Now.Date).Days > 0 | item.RenewReminderDT.ToString() == "9999-12-31 00:00:00.000")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-outline-warning btn-rounded btn-sm px-2" title="Renew License" href="@Url.Action("Renewal", "LicenseSite", new {id=item.LicenseID})">
                                                            <i class="fas fa-sync-alt mt-0"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <!-- Table body -->
                                </table>
                                <!-- Table -->
                            </div>

                            <br />

                            <a asp-action="Register" class="btn btn-outline-success btn-block text-white text-sm font-weight-bold" style="font-size: 12px;"><i class="far fa fa-plus ml-1 text-black"></i> Register New License</a>
                        </div>
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Card content -->
            </div>
        </div>
    </div>
</section>

@section CSS
{
    <link href="~/css/site.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#LicenseSite').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        //auto hide viewbag.alert
        $(document).ready(function () {
            setTimeout(function () {
                $("#alert").fadeOut();
            }, 3000);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
